.bf-back-button{

    display:flex;

    align-items:center;

    margin-top:4px;      /* moves it slightly down */

    margin-right:10px;   /* space before logo */

    flex-shrink:0;

}

.bf-back-btn{

    display:flex;

    align-items:center;

    justify-content:center;

    width:34px;

    height:34px;

    padding:0;

    border-radius:10px;

    border:1px solid rgba(255,255,255,.15);

    background:transparent;

    color:#fff;

    cursor:pointer;

    transition:.25s;

}

.bf-back-btn:hover{

    background:#2563eb;

    border-color:#2563eb;

}

.bf-back-btn span{

    display:none;

}

.bf-back-btn i{

    font-size:14px;

}
